version: '3.9'

services:
  service-registry:
    image: eclipse-temurin:21-jdk
    container_name: service-registry
    ports:
      - "8761:8761"
    volumes:
      - ../service-registry:/app
    working_dir: /app
    command: ./mvnw spring-boot:run

  mysql-user:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_service_db
    ports:
      - "3307:3306"
    volumes:
      - user_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  user-service:
    image: eclipse-temurin:21-jdk
    container_name: user-service
    depends_on:
      mysql-user:
        condition: service_healthy
      service-registry:
        condition: service_started
    ports:
      - "8081:8081"
    volumes:
      - ../user-service:/app
    working_dir: /app
    command: ./mvnw spring-boot:run

  mysql-order:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_service_db
    ports:
      - "3308:3306"
    volumes:
      - order_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  order-service:
    image: eclipse-temurin:21-jdk
    container_name: order-service
    depends_on:
      mysql-order:
        condition: service_healthy
      service-registry:
        condition: service_started
      user-service:
        condition: service_started
    ports:
      - "8082:8082"
    volumes:
      - ../order-service:/app
    working_dir: /app
    command: ./mvnw spring-boot:run

volumes:
  user_db_data:
  order_db_data:
