server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://mysql-user:3306/user_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&autoReconnect=true
    username: root
    password: root
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 10
      minimum-idle: 5
      initialization-fail-timeout: 60000

  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka

